#craps-game{
    background-image: url(../images/craps\ casino\ dice.jpg);
    background-position: center left;

}

.craps-game-title{
    text-align: center;
    color: white;
    margin-top: 100px;
}

.craps-game-container{
    width: min(600px, 40vw);
    height: min(600px, 40vh);
    border: dashed white 3px;
    margin: 40px auto 0px auto;
    background-image: url(../images/craaps\ casino\ table.png);
    background-size: cover;
}