#craps-game{
    background-image: url(../images/craps\ casino\ dice.jpg);
    background-position: center left;

}

.craps-game-title{
    text-align: center;
    color: white;
    margin-top: 100px;
}

.craps-game-container{
    width: min(600px, 50vw);
    height: min(700px, 50vh);
    border: dashed white 3px;
    margin: 40px auto 0px auto;
    background-image: url(../images/craaps\ casino\ table.png);
    background-size: cover;
}

#craps-game-regist-pane{
    text-align: center;
    margin-top: 25px;
    color: white;
}

.craps-register-name-input{
    border: none;
    background: none;
    border-bottom: dashed white 2px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.craps-register-name-input:focus {
    outline-width: 0px;
}

.craps-registration-continue{
    margin-top:25px
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;

}

#craps-main-section {
    display: none;
    color: white;
}

.craps-main-section-stats {
    text-align: center;
    margin-top: 100px;
}

#craps-stats-money-containers {
    font-size: 20px;
    margin: 20px 0 10px 0;
}