:root {
    --width-scale: min(600px, 70vw, 70vh);
    --height-scale: calc(var(--width-scale) * 1);
    --game-title-size: min(calc(var(--height-scale) * 0.1), 32px);
    --title-margin-bottom: calc(var(--height-scale) * 0.2);
}

#craps-game{
    background-image: url(../images/craps\ casino\ dice.jpg);
    background-position: center left;
    padding: 5px;

}

.craps-game-title{
    font-size: var(--game-title-size);
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: var(--title-margin-bottom); 
    margin-top: calc(calc(100vh - var(--game-title-size)- var(--title-margin-bottom) - var(--height-scale))/2);
}

.craps-game-container{
    width: var(--width-scale);
    height: var(--height-scale);
    border: dashed white 3px;
    margin: 0px auto;
    background-image: url(../images/craaps\ casino\ table.png);
    background-size: cover;
}

#craps-game-regist-pane{
    text-align: center;
    margin-top: 25px;
    color: white;
}

.craps-register-name-input{
    border: none;
    background: none;
    border-bottom: dashed white 2px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.craps-register-name-input:focus {
    outline-width: 0px;
}

.craps-registration-continue{
    margin-top:25px
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;

}

#craps-main-section {
    display: none;
    color: white;
}

.craps-main-section-stats {
    text-align: center;
    margin-top: 100px;
}

#craps-stats-money-containers {
    font-size: 20px;
    margin: 20px 0 10px 0;
}